html{
    background-color: rgb(201, 222, 201);
}

section{
    background: beige;
    border-radius: 10px;
    padding: 1.1em;
    margin: 1.1em;
}
body{
    margin: 50px;
}

h1, strong {
    color: green;
}

img{
    height: 400px;
}